<? xml version="1.0" ?>  
<root>
    < Config>  
        <SIZE value="200" />
        <OVERWEIGHT value="50" />
        <DUMP_FRECUENCY value="150" /> 
        <DUMP_PATH value="src/" />
        <vDEBUG value="false/" />
        <vDEBUG_PATH value="src/" />
        <GC_FRECUENCY value="150" />
        <cuartoDeSegundoMili value="250000" />
        <medioDeSegundoMili value="500000" />
        <SegundoMili value="1000000" />
    < /Config>
</root> 